<div *ngIf="loginService.userLoggedIn && loginService.userLogged.tipoUsuario=='administrativo'">
    <form method="POST">
        <legend class="tForm">Agregar Novedad</legend>
        <div class="dropdown-divider"></div>
        <div class="form-group row">
            <label for="usuario" class="col-sm-4 col-form-label">Usuario</label>
            <div class="col-sm-8">
              <select [(ngModel)]="novedades.usuario" name="usuario">
                <option *ngFor="let item of usuarios" [ngValue]="item">
                    {{item.apellido}},{{item.nombre}}</option>
            </select> 
            </div>
          </div>
        <div class="form-group row">
          <label for="detalle" class="col-sm-4 col-form-label">Descripcion</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="detalle" name="detalle" [(ngModel)]="novedades.descripcion">
          </div>
        </div>
        <div class="form-group row">
          <button class="col-12 btn btn-info" (click)="nuevoNovedades()">Agregar</button>
        </div>
      </form>

</div>
<div>
  <table id="tabla" class="table table-striped">
    <thead>
      <tr class="">
        <th style="width: 100%"  class="justify-content-center">
          Novedades
        </th>
        <th style="width: 0%">

        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaNovedades">
        <td>
          <div class="table-primary justify-content-start py-2">
              Novedades de: {{item.usuario.nombre}}
          </div>
          {{item.descripcion}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>