<div class="form-group row">
    <label for="foto2" class="col-sm-4 col-form-label">Foto</label>
    <div class="col-sm-8">
        <div class="custom-file" style="z-index: 0 !important">
            <input type="file" class="custom-file-input" id="customFileLang" lang="es" alife-file-to-base64 multiple
                (onFileChanged)="onFileChanges($event)">
            <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
            <div class="row justify-content-center mt-1" *ngIf="foto">
                <img src="{{foto}}" class="rounded-sm" style="width: 100px; height: 100px;">
            </div>
        </div>
    </div>
</div>