<div class="row justify-content-center">
    <form method="POST">
        <legend class="tForm">Registro</legend>
        <div class="dropdown-divider"></div>
        <div class="form-group row">
            <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="nombre">
            </div>
        </div>
        <div class="form-group row">
            <label for="apellido" class="col-sm-4 col-form-label">Apellido</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="apellido">
            </div>
        </div>
        <div class="form-group row">
            <label for="dni" class="col-sm-4 col-form-label">DNI</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="dni">
            </div>
        </div>
        <div class="form-group row">
            <label for="fecnac" class="col-sm-4 col-form-label">Fecha Nac.</label>
            <div class="col-sm-8">
                <input type="date" class="form-control" id="fecnac">
            </div>
        </div>
        <div class="form-group row">
            <label for="direccion" class="col-sm-4 col-form-label">Direccion</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="direccion">
            </div>
        </div>
        <div class="form-group row">
            <label for="telefono" class="col-sm-4 col-form-label">Telefono</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="telefono">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="staticEmail" placeholder="email@example.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="foto" class="col-sm-4 col-form-label">Foto</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="foto" placeholder="foto">
            </div>
        </div>
        <div class="form-group row">
            <label [htmlFor]="nombreUs" class="col-sm-4 col-form-label">Nombre de Usuario</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="username" #nombreUs placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputRPassword" class="col-sm-4 col-form-label">Contraseña</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="inputRPassword" placeholder="*********">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Repita Contraseña</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword" placeholder="*********">
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleFormControlSelect1" class="col-sm-4 col-form-label">Tipo Usuario</label>
            <div class="col-sm-8">
                <select class="form-control" #tipo (change)="tipoUsuario=$event.target.value">
                    <option value="administrativo">Administrativo</option>
                    <option value="socio">Socio</option>
                    <option value="administrador">Administrador</option>
                    <option value="gerente">Gerente</option>
                </select>
            </div>
        </div>
        <hr>
        <div *ngIf="tipoUsuario=='socio'">
            <div class="form-group row">
                <label for="legajo" class="col-sm-4 col-form-label">Legajo</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="legajo">
                </div>
            </div>
            <div class="form-group row">
                <label for="escribania" class="col-sm-4 col-form-label">Escribania</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" list="browsers" id="escribania">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <button class="col-12 btn btn-info">Enviar</button>
        </div>
    </form>

</div>