<div class="row justify-content-center">
    <form method="POST">
        <legend class="tForm">Registro</legend>
        <div class="dropdown-divider"></div>
        <div class="form-group row">
            <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="apellido" class="col-sm-4 col-form-label">Apellido</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="apellido" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="dni" class="col-sm-4 col-form-label">DNI</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="dni" name="dni" [(ngModel)]="dni" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="legajo" class="col-sm-4 col-form-label">Legajo</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="legajoM" name="legajoM" [(ngModel)]="legajo" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="escribania" class="col-sm-4 col-form-label">Escribania</label>
            <div class="col-sm-8">
                    <select [(ngModel)]="escribania" name="escribania">
                            <option *ngFor="let escribania of escribanias" [ngValue]="escribania">
                                {{escribania.nombre}}</option>
                        </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="fecnac" class="col-sm-4 col-form-label">Fecha Nac.</label>
            <div class="col-sm-8">
                <input type="date" class="form-control" id="fecnac" name="fechaNac" [(ngModel)]="fechaNac" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="direccion" class="col-sm-4 col-form-label">Direccion</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="direccion"
                    required>
            </div>
        </div>
        <div class="form-group row">
            <label for="telefono" class="col-sm-4 col-form-label">Telefono</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="staticEmail" placeholder="email@example.com" name="email"
                    [(ngModel)]="email" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="foto" class="col-sm-4 col-form-label">Foto</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="foto" placeholder="foto" name="foto" [(ngModel)]="foto"
                    required>
            </div>
        </div>
        <div class="form-group row">
            <label [htmlFor]="nombreUs" class="col-sm-4 col-form-label">Nombre de Usuario</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="usernameUsav" #nombreUs placeholder="" name="username"
                    [(ngModel)]="username" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputRPassword" class="col-sm-4 col-form-label">Contraseña</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="Pass1" placeholder="*********" name="password"
                    [(ngModel)]="password" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Repita Contraseña</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="Pass2" placeholder="*********" name="passIgual"
                    [(ngModel)]="passIgual" required>
            </div>
        </div>
        <div class="form-group row" *ngIf="passIguales==true">
            <label class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
                Las contraseñas deben ser iguales
            </div>
        </div>
    
        <hr>
       
        <div class="form-group row">
            <button class="col-12 btn btn-info" (click)="validarUsuario()">Enviar</button>
        </div>
    </form>

    <!-- TABLA -->
    <table class="table table-striped" [mfData]="escribanos" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
            <tr>
                <th>
                    <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="Dni">Dni</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="legajo">legajo</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="username">Username</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">
                <td>{{item.usuario.nombre}},{{item.usuario.apellido}} </td>
                <td>{{item.usuario.dni}}</td>
                <td>{{item.legajo}}</td>
                <td>{{item.usuario.username}}</td>
                <td>
                    <p *ngIf="item.estado" class="text-success">Activo</p>
                    <p *ngIf="!item.estado" class="text-danger"> Inactivo</p>
                </td>
                <td>
                    <!--  <button type="button " class="btn btn-info" (click)="elegirUsuario(item)" data-toggle="modal"
                            data-target="#myModalPerfil">Perfil</button> -->
                    <button class="btn btn-info" (click)="elegirUsuario(item)" data-toggle="modal"
                        data-target="#myModalMod">Administrar</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>

    <!-- FIN TABLA -->

    <!-- The Modal -->
    <div class="modal" id="myModalMod">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Administrar Usuario</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->

                <div class="form-group row">
                    <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="nombreM" name="nombreM" [(ngModel)]="nombre"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="apellido" class="col-sm-4 col-form-label">Apellido</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="apellidoM" name="apellidoM" [(ngModel)]="apellido"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dni" class="col-sm-4 col-form-label">DNI</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="dniM" name="dniM" [(ngModel)]="dni" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fecnac" class="col-sm-4 col-form-label">Fecha Nac.</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="fecnacM" name="fechaNacM" [(ngModel)]="fechaNac"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="direccion" class="col-sm-4 col-form-label">Direccion</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="direccionM" name="direccionM"
                            [(ngModel)]="direccion">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="telefono" class="col-sm-4 col-form-label">Telefono</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="telefonoM" name="telefonoM" [(ngModel)]="telefono"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="staticEmailM" placeholder="email@example.com"
                            name="emailM" [(ngModel)]="email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="foto" class="col-sm-4 col-form-label">Foto</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="fotoM" placeholder="foto" name="fotoM"
                            [(ngModel)]="foto" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label [htmlFor]="nombreUs" class="col-sm-4 col-form-label">Nombre de Usuario</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="usernameM" #nombreUs placeholder="" name="usernameM"
                            [(ngModel)]="username" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputRPassword" class="col-sm-4 col-form-label">Contraseña</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputRPasswordM" placeholder="*********"
                            name="passwordM" [(ngModel)]="password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Repita Contraseña</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputPasswordM" placeholder="*********"
                            name="passIgualM" [(ngModel)]="passIgual" required>
                    </div>
                </div>

                <hr>
                <!--  <div *ngIf="tipoUsuario=='socio'">
                        
                    </div> -->

                <!-- Modal footer -->

                <div class="modal-footer">
                    <button *ngIf="usuario.estado" type="button" class="btn btn-info" data-dismiss="modal"
                        (click)="actualizarUsuario()">Guardar</button>
                    <button *ngIf="usuario.estado" type="button " class="btn btn-info" (click)="bajaUsuario()">Dar de
                        baja</button>
                    <button *ngIf="!usuario.estado" type="button " class="btn btn-info" (click)="bajaUsuario()">Dar de
                        Alta</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>

    <!-- FIN MODAL -->

</div>