<nav class="navbar navbar-expand-lg navbar-dark fixed-top"
  style="background: linear-gradient(rgb(71, 103, 109), rgb(40, 124, 145));" id="lgnav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    <div class="float-left">
      <span class="navbar-brand" style="font-size: 2em; color: white">
        <i class="fas fa-feather-alt"></i>
      </span>
      <span style="font-size:30px;cursor:pointer" style="font-size: 2em; color: white" (click)="openNav()">
        <i class="fab fa-accessible-icon"></i></span>
      <a id="logo" class="navbar-brand">Colegio de Escribanos</a>
    </div>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="opciones">
    <ul class="nav nav-pills dropdown-menu-xl-right dropdown-item-text">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['contents']">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['registro']">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['slide']">Slide</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['evaluacion']">Evaluacion</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Web Service</a>
        <div class="dropdown-menu" style="background: rgb(29, 98, 129)">
          <a class="dpmitem" [routerLink]="['clima']">Clima</a>
          <a class="dpmitem" [routerLink]="['moneda']">Moneda</a>
          <a class="dpmitem" [routerLink]="['nba']">NBA Teams</a>
          <a class="dpmitem" [routerLink]="['systranNLP']">Systran</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Administracion</a>
        <div class="dropdown-menu" style="background: rgb(29, 98, 129)">
          <a class="dpmitem" [routerLink]="['miembro']">Miembros</a>
          <a class="dpmitem" [routerLink]="['punto1']">Punto 1</a>
          <a class="dpmitem" [routerLink]="['punto2']">Punto 2</a>
          <a class="dpmitem" [routerLink]="['punto3']">Punto 3</a>
          <a class="dpmitem" [routerLink]="['punto4']">Punto 4</a>
          <a class="dpmitem" [routerLink]="['punto5']">Punto 5</a>
        </div>
      </li>
    </ul>
  </div>
  
</nav>