.ddaside{
  text-align: justify;
  background: #f5f5f5;
  margin: 10px;
  border-radius: 0.25rem;
}
.centro{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.2px;
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#bgimage{
  width: 100%;
  opacity: 0.7;
}
form {
  margin: initial;
  padding: inherit;
  padding-right: 20px;
  padding-left: 20px;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  padding-bottom: 1rem;
}

.tForm {
  text-align: center;
  font-weight: bold;
  font-size: 10;
}